body {  
     font-family: Arial, sans-serif;    
     margin: 0;    
     background-color:lightgreen;    
     color: black;
    }

header {    
    text-align: center;    
    padding: 25px;
}

nav {    
    display: flex;    
    justify-content: center;    
    gap: 20px;    
    padding: 15px;
}

nav a {   
     text-decoration: none;    
     color: black;    
     font-weight: bold;
    }
nav a:hover {
    color: white;
    text-decoration: underline;
}

main {    
    max-width: 800px;    
    margin: 30px auto;    
    padding: 20px;
}

form {
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
}
input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus {
    outline: 2px solid green;
}
button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

.message {
    color: red;
    font-weight: bold;
}
footer {   
     text-align: center;   
     padding: 20px;}